@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  --blue-color: #06355F;
  --yellow-color: #FCB712;
  --grey-color: #999999;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.land-container {
  display: flex;
  justify-content: space-around;
}

.land-heading {
  color: var(--blue-color);
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}

.land-description {
  color: var(--yellow-color);
  width: 400px;
  text-align: center;
  font-weight: 600;
}

.land-picture {
  width: 500px;
}

.presentation-note {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px
}

.topic-headings {
  color: var(--blue-color);
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}

.topic-subheadings {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  color: var(--blue-color);
}

.side-card {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 275px;
  width: 400px;
  border-left: 10px solid var(--yellow-color);
  margin: 20px;
}

/* HOME PAGE */

.topic-container {
  width: 250px
}

.topic-image {
  width: 250px;
  height: 175px;
  border-radius: 12px;
}

.topic-text {
  color: var(--blue-color);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.spons-cards {
  width: 200px;
  height: 200px;
  align-items: center;
}

/* CONTACT US PAGE */
.organiser-picture {
  width: 200px;
  height: 200px;
  align-items: center;
  margin: 10px 0px 0px 0px;
}

.organiser-text {
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  color: var(--blue-color);
}

/* FOOTER COMPONENT */
.footer-container {
  display: flex;
}

.footer-heading {
  color: white;
  font-weight: 700;
  text-align: center;
}

.footer-line {
  display: flex;
  align-items: center
}

.footer-spacing {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 10px;
}


@media only screen and (max-width: 1100px) {
  .footer-content {
    font-size: 13px;
  }

  .topic-image {
    width: 175px;
    height: 100px;
  }

  .topic-container {
    width: 175px;
  }

}

@media only screen and (max-width: 1000px) {
  .land-picture {
    width: 400px;
  }

  .footer-content {
    font-size: 12px;
    margin-top: 5px;
  }

  .organiser-text {
    font-size: 15px;
  }
}

@media only screen and (max-width: 950px) {
  .side-card {
    width: 350px;
    height: max-content;
  }

  .side-card-content {
    font-size: 13px;
  }

  .topic-subheadings {
    font-size: 24px;
  }
}

@media screen and (max-width: 850px) {
  .land-picture {
    width: 250px;
    align-content: center;
  }

  .land-heading {
    font-size: 26px;
  }

  .land-description {
    width: 300px;
  }

  .side-card {
    margin: 10px;
  }

  .organiser-picture {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .land-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .land-description {
    display: flex;
    align-items: center;
    text-align: center;
    width: 375px;
  }

  .land-picture {
    margin-top: 20px;
  }

  .presentation-note {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-line {
    display: none;
  }

  .footer-container {
    width: 100%;
  }

  .footer-spacing {
    width: 100%;
    text-align: center;
  }

  .footer-content {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .land-description {
    width: 325px;
    font-size: 12px;
  }

  .land-heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 325px) {
  .land-description {
    width: 275px;
  }
}